@use '../abstracts' as a;

header {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.nav {
  width: 100%;

  &-icons {
    height: 64px;
    background-color: a.$c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: a.$padding-s;

    &-logo {
      height: a.$height-nav-icons;
    }    
  }

  &-button {    
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;

    &-close {
      display: none;
    }
  }

  &-links {
    position: absolute;
    right: 0;
    left: 0;
    transform: translateY(-150%);
    background-color: a.$c2;
    margin: 24px;
    padding: 16px;
    border-radius: a.$border-radius-s;
    transition: all 0.6s;

    &-open {
      transform: translateY(0);
      box-shadow: 0 0 64px rgba(0, 0, 0, 0.6);
    }

    & a {
      font: a.$h5;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 12px;
      color: #fff;
    }
  }
}