@use '../abstracts' as a;

html {
  font-family: 'Lato', sans-serif;
}

h1 {
  font: a.$h1;
}

h2 {
  font: a.$h2;
}

h3 {
  font: a.$h3;
}

h4 {
  font: a.$h4;
}

h5 {
  font: a.$h5;
}

h6 {
  font: a.$h6;
}

p {
  font: a.$body;
}

main > h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
p + * {
  margin-block-start: 1.5rem;
}